<!-- templates/portfolio/about.html -->
{% load static %}

{# {% extends 'base.html' %} #}

{% block content %}
<div class="vg-page page-about nav-section" id="about">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4 py-3">
                <div class="img-place wow fadeInUp">
                    <img src="static/images/Alessia_Profeta.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1 wow fadeInRight">
                <h1 class="fw-light">Alessia Profeta</h1>
                <h5 class="fg-theme mb-3">Data & Web Specialist</h5>
                <p class="text-muted">
                🔍 Chi sono: Sono un'ingegnera informatica con una passione profonda per la logica e la matematica. Dopo anni come Web Developer, mi sono specializzata come Data Scientist e Data Analyst, sfruttando le mie competenze analitiche per trasformare i dati in insights strategici. Ho un forte spirito di collaborazione e condivisione che mi porta a creare con le persone legami di stima reciproca anche fuori dagli ambienti lavorativi. Promuovo la tutela delle minoranze e il benessere individuale.
                <br>
                <br>
                🚀 La mia esperienza: Dopo la laurea, ho lavorato come Web Developer e Software Analyst, acquisendo solide competenze tecniche e una comprensione approfondita dello sviluppo web come: SQL, Python, Java, JS, Web Inspector. Recentemente, ho ampliato le mie competenze nel campo Data, completando un Master in Data Science presso start2impact e ottenendo una certificazione come Data Analyst da boolean.careers.
                <br>
                <br>
                🤝 Il mio approccio al lavoro: Credo fermamente nel potere del lavoro di squadra. Sono convinta che l'entusiasmo e la sinergia tra i membri di un team siano essenziali per raggiungere risultati ambiziosi e innovativi. Promuovo un ambiente di lavoro collaborativo, dove ogni voce può essere ascoltata e ogni idea può prendere forma.
                <br>
                <br>
                📚 Passione per la Condivisione e l'E-Learning: Durante il mio apprendimento, ho sempre trovato utile prendere appunti dettagliati e creare schemi che mi aiutano a organizzare le informazioni. Per estendere questa pratica di condivisione, ho creato un blog dove raccolgo e condivido ciò che ho appreso nel campo dei dati. Il blog è un modo per me di tenere traccia del mio percorso e, spero, di ispirare altri nel loro viaggio nel mondo dell'AI. Se sei interessato, ti invito a visitare il mio blog www.alessiaprofeta.com/blog e sarei felice di ricevere il tuo feedback.
                <br>
                <br>
                🌱 Interessi personali e professionali: Ho una vasta gamma di interessi che arricchiscono la mia prospettiva professionale: dall'introspezione personale, attività manuali, giochi di logica. Ho un intrinseco spirito competitivo che mi porta ad affrontare le nuove attività come sfide personali! 
                <br>
                <br>
                📈 Obiettivi futuri: Aspiro a utilizzare le mie competenze analitiche e la mia passione per i dati per guidare decisioni strategiche e promuovere progetti innovativi che hanno un impatto positivo sulla società. Sono sempre aperta a discutere di come le mie competenze possano contribuire a realizzare visioni innovative e strategiche. 
                <br>
                <br>
                Non esitare a contattarmi per collaborazioni o per discutere di progetti futuri: 
                🌐 https://www.linkedin.com/in/alessia-profeta/ | 📧 info@alessiaprofeta.com | github.com/lalessia

                    <!--Mi chiamo Alessia Profeta, sono un'ingegnera informatica che, dopo anni di esperienza come 
                    Web Developer e Software Analyst, ha scoperto una passione per i dati.<br> 
                    Questo sito portfolio è nato con l'intento di raccogliere e condividere i miei progetti nel campo dei dati.<br> 
                    Per me è un modo per tenere traccia del mio percorso, delle cose che ho realizzato e degli obiettivi che voglio 
                    raggiungere.<br>
                    Chissà, magari uno di questi progetti potrebbe catturare il tuo interesse e dare inizio a una nostra 
                    collaborazione. Oppure, potrebbero fornirti un utile punto di partenza se sei un neofita.<br>
                    In ogni caso, spero che tu possa trovarci qualcosa di interessante.-->
                    <!--Mi chiamo Alessia Profeta, sono un'ingegnera informatica che dopo anni da Web Developer e Software Analyst ha scoperto una passione per i dati. <br/>
                    Negli ultimi tempi, ho scoperto una passione per i dati che mi ha portato a dedicarmi con entusiasmo allo studio di questo campo.<br/>
                    Questo sito portfolio è nato con l'intento di raccogliere e condividere i miei progetti in ambito data, ed è 
                    nato per me, come un modo per tenere traccia del mio percorso, delle cose che ho realizzato e degli obiettivi che voglio raggiungere. <br/> 
                    Chissà se uno di questi progetti non possa catturare il tuo interesse e dare inizio a una nostra collaborazione.<br/> 
                    Oppure, i miei progetti potrebbero esserti un utile punto di partenza in quanto neofita.<br/>
                    Mi auguro in ogni caso che possa tornarti utile
                </p-->
                <!--DA VALUTARE: se inserire il download del cv
                    button class="btn btn-theme-outline">Download CV</button-->
            </div>
        </div>
    </div>

    <div class="about-quote">
        <p>Quando pensi di avere tutte le risposte, la vita ti cambia tutte le domande.</p>
        <p class="about-quote__author">Charlie Brown</p>
    </div>
    <!--Sezione my skill
        div class="container py-5">
        <h1 class="text-center fw-normal wow fadeIn">My Skills</h1>
        <div class="row py-3">
            <div class="col-md-6">
                <div class="px-lg-3">
                    <h4 class="wow fadeInUp">Coding skills</h4>
                    <div class="progress-wrapper wow fadeInUp">
                        <span class="caption">JavaScript</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 86%;" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100">86%</div>
                        </div>
                    </div>
                    <div class="progress-wrapper wow fadeInUp">
                        <span class="caption">PHP</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100">80%</div>
                        </div>
                    </div>
                    <div class="progress-wrapper wow fadeInUp">
                        <span class="caption">HTML + CSS</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100">100%</div>
                        </div>
                    </div>
                    <div class="progress-wrapper wow fadeInUp">
                        <span class="caption">Phyton</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100">90%</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="px-lg-3">
                    <h4 class="wow fadeInUp">Design Skills</h4>
                    <div class="progress-wrapper wow fadeInUp">
                        <span class="caption">UI / UX Design</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 92%;" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100">92%</div>
                        </div>
                    </div>
                    <div class="progress-wrapper wow fadeInUp">
                        <span class="caption">Web Design</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 99%;" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100">99%</div>
                        </div>
                    </div>
                    <div class="progress-wrapper wow fadeInUp">
                        <span class="caption">Logo Design</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 79%;" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100">79%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div-->
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-6 wow fadeInRight">
                <h2 class="fw-normal">Formazione</h2>
                <ul class="timeline mt-4 pr-md-5">
                    <li>
                        <div class="title">2024</div>
                        <div class="details">
                            <h5>Master in Data Science</h5>
                            <small class="fg-theme"><a href="https://www.start2impact.it/">Start2Impact</a></small>
                            <p>
                                Durante questo master, ho esplorato il mondo della Data Science, concentrandomi su Machine Learning e in particolare sull'apprendimento supervisionato con Python.
                                Ho inoltre avuto modo di rafforzare le pregresse conoscenze di SQL e Data Visualizatiion
                            </p>
                            <!--p>Durante questo master ho avuto modo di strutturare le conoscenze di ML soprattutto 
                                per quanto riguarda l'apprendimento supervisionato. Ho anche avuto modo di 
                                approfondire argomenti di Data Visualization, SQL e Python.</p-->
                        </div>
                    </li>
                    <li>
                        <div class="title">2023</div>
                        <div class="details">
                            <h5>Master in Data Analyst</h5>
                            <small class="fg-theme"><a href="https://boolean.careers/">Boolean Careers</a></small>
                            <p>
                                Questo master mi ha permesso di approfondire diverse aree della Data Analysis, come: 
                                SQL, Web Analytics, Data Collection, Data Cleaning, Data Visualization e Web Scraping.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="title">2012</div>
                        <div class="details">
                            <h5>Ingegneria Informatica per la gestione d'azienda</h5>
                            <small class="fg-theme">Università di Pisa - Laurea Specialistica</small>
                            <p>
                                Ho conseguito la laurea specialistica in questo campo, che mi ha fornito 
                                una conoscenza approfondita dei sistemi informativi attraverso lo studio dei 
                                processi e delle strategie aziendali. 
                                Inoltre, ho avuto modo di approfondire il ciclo di vita del software, 
                                dalla progettazione all'implementazione.
                            </p>
                        </div>
                    </li>
                    <!--li>
                        <div class="title">2008</div>
                        <div class="details">
                            <h5>Ingegneria Informatica</h5>
                            <small class="fg-theme">Università degli studi Palermo - Laurea Triennale</small>
                            <p>Subito dopo la maturità classica, mi sono ritrovata a rispondere a grande domandone: 
                                'E adesso? Che si fa?'<br/>La risposta esattamente non la sapevo e forse non la so nemmeno adesso &#128517;, 
                                ma sapevo che mi sarebbe piaciuto lavorare con la logica e la matematica, e il computer mi attirava a se.
                                Avendo poca conoscenza dell'informatica, ho deciso di puntare su qualcosa che me la facesse vedere più a 360° 
                                così la scelta è ricaduta su Ingegneria Informatica.
                            </p>
                        </div>
                    </li-->
                </ul>
            </div>
            <div class="col-md-6 wow fadeInRight" data-wow-delay="200ms">
                <h2 class="fw-normal">Esperienze</h2>
                <ul class="timeline mt-4 pr-md-5">
                    <li>
                        <div class="title">2020</div>
                        <div class="details">
                            <h5>Front End Developer</h5>
                            <small class="fg-theme">Docebo Spa</small>
                            <p>ho sviluppato l'applicazione proprietaria dell'azienda lavorando sul lato front end 
                                con Angular. Questa esperienza mi ha permesso di migliorare le mie competenze 
                                di sviluppo, cruciali per creare interfacce utente per la visualizzazione 
                                dei dati.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="title">2015 - 2017</div>
                        <div class="details">
                            <h5>Front End Developer</h5>
                            <small class="fg-theme">Cynny Space srl</small>
                            <p>Durante la mia esperienza in Cynny Space, ho lavorato con AngularJS per lo sviluppo frontend e <p>Selenium</p> per i test automatici. Questi strumenti mi hanno permesso di costruire applicazioni reattive e di garantire la qualità tramite test approfonditi, 
                                essenziali per un'analisi dei dati accurata. </p>
                        </div>
                    </li>
                    <li>
                        <div class="title">2013 -2015</div>
                        <div class="details">
                            <h5>Software Analyst</h5>
                            <small class="fg-theme">Arval Spa</small>
                            <p>Come Software Analyst in Arval, ho avuto l'opportunità di approfondire diverse tipologie di DBMS 
                                e strumenti ETL per la gestione dei dati aziendali, migliorando significativamente le mie competenze in SQL. 
                                Questa esperienza mi ha anche permesso di affinare le mie capacità di problem solving e analisi, 
                                gestendo le richieste del business e valutandone la fattibilità. 
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="title">2012 - 2013</div>
                        <div class="details">
                            <h5>Full Stack Developer</h5>
                            <small class="fg-theme">Hi.tech srl</small>
                            <p>
                                In Hi.Tech, mi sono occupato dello sviluppo e della manutenzione di 
                                applicativi per il CUP (Centro Unico Prenotazioni), basati su JavaEE. 
                                Questo ruolo mi ha permesso di lavorare su progetti critici per la 
                                gestione delle prenotazioni sanitarie, migliorando le mie competenze tecniche</p>
                        </div>
                    </li>
                    <li>
                        <div class="title">2011 - 2012</div>
                        <div class="details">
                            <h5>Full Stack Developer</h5>
                            <small class="fg-theme">Bda srl</small>
                            <p>Presso BDA, ho progettato e sviluppato una web application basata su 
                                JavaEE e MySQL per l'elaborazione di documenti digitali. 
                                Questo progetto mi ha permesso di combinare le mie competenze di sviluppo 
                                back-end e gestione dei database per creare soluzioni efficienti e scalabil</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- Servizi che offro
    div class="vg-page page-service">
    <div class="container">
        <div class="text-center wow fadeInUp">
            <div class="badge badge-subhead">Service</div>
        </div>
        <h1 class="fw-normal text-center wow fadeInUp">What can i do?</h1>
        <div class="row mt-5">
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="card card-service wow fadeInUp">
                    <div class="icon">
                        <span class="ti-paint-bucket"></span>
                    </div>
                    <div class="caption">
                        <h4 class="fg-theme">Web Design</h4>
                        <p>There are many variations of passages of Lorem Ipsum available</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="card card-service wow fadeInUp">
                    <div class="icon">
                        <span class="ti-search"></span>
                    </div>
                    <div class="caption">
                        <h4 class="fg-theme">SEO</h4>
                        <p>There are many variations of passages of Lorem Ipsum available</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="card card-service wow fadeInUp">
                    <div class="icon">
                        <span class="ti-vector"></span>
                    </div>
                    <div class="caption">
                        <h4 class="fg-theme">UI/UX Design</h4>
                        <p>There are many variations of passages of Lorem Ipsum available</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="card card-service wow fadeInUp">
                    <div class="icon">
                        <span class="ti-desktop"></span>
                    </div>
                    <div class="caption">
                        <h4 class="fg-theme">Web Development</h4>
                        <p>There are many variations of passages of Lorem Ipsum available</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div-->
{% endblock %}