<!-- templates/portfolio/home.html -->

{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<!-- Caption header -->
<div class="hero-container">
    <div id="particles-js"></div>
    <div class="welcome-title">
        <div class="caption-header text-center wow zoomInDown">
            <h5 class="fw-normal" style="font-size: 20px;">Benvenuto</h5>
            <h1 class="fw-light mb-4"><b class="fg-theme">Alessia</b> Profeta</h1>
            <div class="badge">Data Specialist & Web Developer</div>
        </div> <!-- End Caption header -->
    </div>
</div>

{% include 'portfolio/about.html' %}
{% include 'portfolio/portfolio.html' %}
{% include 'portfolio/contact.html' %}


<script>
    const config = {{ json_data| safe }};
    console.log(config, particlesJS)
    particlesJS('particles-js', config, function () {
        console.log('callback - particles.js config loaded');
    })
</script>

{% endblock %}