.navbar-bg {
    background-color: gray;
}


#particles-js{
    width: 100%;
    height: 100%;
    background-color: #030116;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  